SECRET_COOKIE_PASSWORD=at-least-32-characters
NODE_ENV=development
NEXT_PUBLIC_BACKEND_URL=http://somewhere:3000/_dev
NEXT_PUBLIC_HOST_URL=http://localhost:3000
NEXT_PUBLIC_PAGE_SIZE=60
NEXT_PUBLIC_ALLOWED_FETCH_MORE_TIME=3
NEXT_PUBLIC_HOST_URL_FOR_EXTERNAL_CALL=http://localhost:3000/dev
NEXT_PUBLIC_FORCED_CLEAR_KEYS=vs_prodcategories
